@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html, body {
    height: 100%;
    background: #D09EA6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00659C, #6A1B9A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00659C, #6A1B9A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00695C, #6A1B9A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00695C, #6A1B9A); /* Standard syntax */
    overflow-x: hidden;
    padding-top:70px ;
    color: white;
}
.title {
    max-width: 500px;
    padding-top: 115px;
    padding-left: 65px;
    padding-right: 65px;
}
.title h1 {
    font-size: 65px;
    margin-bottom: 0;
}
.container {
    position:relative;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
}
.box1 {
    position: absolute;
    top: calc(55%);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 20px;
    width: 800px;
    height: 150px;
}
.box2 {
    width: 400px;
    height: 250px;
    background-color: #ccc;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.box2 h2{
    text-align: center;
    color: black;
}
.box2 h3{
    text-align: left;
    margin-left: 30px;
    color: black;
}
.box3{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px; /* ボックスの高さ */
    background-color: #ccc;
    margin-top: 100px;
    margin-left: 65px;
    margin-right: 65px;
    color: black;
}
.content{
    margin-bottom: 50px;
}
.content h3{
    margin-left: 65px;
    margin-right: 65px;
}
.content h4{
    margin-left: 65px;
    margin-right: 65px;
}
.a{
    padding-left: 65px;
    padding-right: 65px;
    width: 80%;
    height: 75%;
}
.b{
    padding-left: 65px;
    padding-right: 65px;
    width: 30%;
    height: 50%;
}