<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_logout.css') }}">
    <link rel="icon" href="/static/images/logo.ico" sizes="any"><!-- 32×32 -->

</head>
<body>
    <div class="container">
        <h2>ログアウトしました</h2>
        <p>ご利用いただきありがとうございました。</p>
        <a href="/login" class="btn btn-primary">再ログイン</a>
        <a href="/" class="btn btn-primary">ログインせずに使う</a>

    </div>

</body>
</html>
