<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員登録画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
    <link rel="icon" href="/static/images/logo.ico" sizes="any"><!-- 32×32 -->
</head>
{% include 'navigation.html' %}
<div class="step-bar">
    <ul>
        <li>
            <div class="number active">1</div>
            <div class="text">account setup</div>
        </li>
        <li>
            <div class="number">2</div>
            <div class="text">profiles</div>
            <div class="line"></div>
        </li>
        <li>
            <div class="number">3</div>
            <div class="text">details</div>
            <div class="line"></div>
        </li>
    </ul>
</div>
<h1>Create new account</h1>
    <form action="{{ url_for('register') }}" method="post">
        <div class="account-setup register-form">
            <h2>Step 1</h2>
            <input name="email" type="email" placeholder="Email" />
            <input name="password" type="password" placeholder="Password" />
            <input name="password2" type="password" placeholder="Confirm Password" />
            <div class="button firstNext">Next</div>
        </div>
        <div class="user-details register-form">
            <h2>Step 2</h2>
            <input name="postcode" type="text" placeholder="郵便番号" onchange="fetchAddress()" />
            <input name="address" type="text" placeholder="住所" />
            <select name="school district" placeholder="校区">
            <!-- 校区の選択肢 -->
            </select>
            <div class="button firstPrev">Back</div>
            <div class="button secondNext">Next</div>
        </div>
        <div class="finish-step register-form">
            <h2>Step 3</h2>
            <label for="birth-date">Birth date</label>
            <input id="birth-date" name="birth_date" type="date" />
            <label for="name">Username</label>
            <input name="name" type="text" placeholder="name" />
            <div class="button secondPrev">Back</div>
            <button type="submit" class="button">Register</button>
        </div>
</form>
<script src="{{ url_for('static', filename='register.js') }}"></script>
<script src="{{ url_for('static', filename='school_district.js') }}"></script>
</body>
</html>