<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>サービス</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles_service.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
        <link rel="icon" href="/static/images/logo.ico" sizes="any"><!-- 32×32 -->
    </head>
<body>
    {% include 'navigation.html' %}
    <div class = "none">
        Coming soon...
    </div>
</body>