<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>サービス</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_service.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="icon" href="/static/images/logo.ico" sizes="any"><!-- 32×32 -->
    </head>
<body>
    {% include 'navigation.html' %}
    <div class="title">
        <h1>SERVICE</h1>
    </div>
    <div class="container">
        <img src="/static/images/logo.png" alt="EcoIntel Logo" class="icon-image">
        <div class="box1">
            <h1>EcoIntelで出来ること</h1>
            <h2>EcoIntelの機能・使用方法を紹介</h2>
        </div>
        <p>このページでは、EcoIntelの使用方法並びに出来ることを紹介します。</p>
    </div>
    <div class = "box2">
        <h2>目次</h2>
        <h3><a href="#section1">1. EcoIntelで出来ること</a></h3>
        <h3><a href="#section2">2. EcoIntelの使用方法</a></h3>
        <h3><a href="#section3">3. ログイン及び新規登録の方法</a></h3>
    </div>
    <div class="content" id="section1">
        <div class="box3">
            <h2>1. EcoIntelで出来ること</h2>
        </div>
        <h3>①写真検索によるゴミの分別</h3>
        <h4>EcoIntelでは、写真をアップロードし、startボタンをクリックすることで、プログラムが実行され、ゴミの分別のサポートを行ってくれます。</h4>
        <h3>②ユーザ登録による地域ごとの案内</h3>
        <h4>EcoIntelでは、登録をしていただくことにより、利用者のお住まいの地域にあったゴミの収集日をお知らせします。</Em></h4>
    </div>
    <div class="content" id="section2">
        <div class="box3">
            <h2>2. EcoIntelの使用方法</h2>
        </div>
        <div class="x">
            <h3>ここでは、EcoIntel（ゴミ分別プログラム）の使用方法を紹介しています。</h3>
            <h3>①画像の選択</h3>
            <h4>画像をアップロードというボタンをタップしてください。</h4>
            <img src="/static/images/main.png" alt="1" class="a">
            <h4>フォルダーが開かれるのでEcoIntelを使用したい画像を選択してください。</div></h4>
            <h4>※画像は予め撮影しておいてください。<br>※EcoIntelで使用できるファイル形式は、.png、.jpegのみです。</h4>
            <img src="/static/images/choose.png" alt="2" class="a">
            <h3>②EcoIntelの実行</h3>
            <h4>画像がアップロードされるとアップロードした画像が表示されます。<br>画像の下にあるstartボタンをタップするとEcoIntelが実行されます。</h4>
            <h4>画像を変更した場合は画像の上部にある別の画像をアップロードをタップして別の画像をアップロードしてください。</h4>
            <img src="/static/images/start.png" alt="3" class="a">
            <h3>③実行結果の見方</h3>
            <h4>EcoIntelを実行して少し待つと、EcoIntelの実行結果が表示されます。<br>結果が何ゴミと判別されたかを示しています。<br>判別精度は結果の精度を示しています。<br>説明は結果に応じた処理方法が記載されています。</h4>
            <h4>※説明は簡潔に記載されているため、もっと詳しく知りたい場合は説明の下のこちらをタップしてください。</h4>
            <img src="/static/images/result.png" alt="4" class="a">
        </div>
    </div>
    <div class="content" id="section3">
        <div class="box3">
            <h2>3. ログイン及び新規登録の方法</h2>
        </div>
        <div class="y">
            <h3>ここでは、ログイン及び新規登録の方法を紹介しています。</h3>
            <h3>①新規登録の方法</h3>
            <h4>1.メールアドレスとパスワードを入力し、nextボタンをタップしてください。</h4>
            <img src="/static/images/login1.png" alt="1" class="b">
            <h4>2.郵便番号を入力し、表示される住所が正しいか確認してください。</h4>
            <h4>※住所に番地は出入されません。</h4>
            <img src="/static/images/login2.png" alt="2" class="b">
            <h4>3.生年月日とユーザー名を入力し、登録してください。</h4>
            <img src="/static/images/login3.png" alt="3" class="b">
            <h4>※登録の途中で入力を変更したい際はbackボタンをタップして変更したい場所へ移動してください。</h4>
            <h3>②ログインの方法</h3>
            <h4>1.登録したメールアドレスとパスワードを入力し、loginボタンをタップしてください。</h4>
            <img src="/static/images/login4.png" alt="3" class="b">
        </div>
    </div>
</body>